
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows any user to read and write to any document in your database.
    // It's useful for rapid prototyping and development.
    // WARNING: This is insecure for production applications. 
    // You should implement more granular rules before launching.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
